@import "tailwindcss";

@theme inline {
  --color-primary: #ffe135;
  --color-secondary: #5d4037;
  --color-tertiary: #00a86b;
  --color-quaternary: #fffde7;
  --color-background-body: #e2e6b4;
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Be Vietnam Pro", sans-serif;
}

@utility center-elements {
  @apply flex items-center justify-center;
}
@utility gap-elements {
  @apply gap-4;
}

@utility btn-hero {
  @apply font-body rounded-full font-bold;
}

@utility text-title {
  @apply font-headline text-4xl font-black md:text-[40px] lg:text-5xl;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
