@import "tailwindcss";

@theme inline {
  --color-primary: #ffe135;
  --color-secondary: #5d4037;
  --color-tertiary: #00a86b;
  --color-quaternary: #fffde7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
